Host olcf
     HostName home.ccs.ornl.gov
     User pshriwise
     PreferredAuthentications keyboard-interactive,password
     ControlMaster no

Host summit
     HostName summit.olcf.ornl.gov
     User pshriwise
     PreferredAuthentications keyboard-interactive,password
     ControlMaster no

Host home
	HostName 68.191.162.181
	User shriwise
ForwardAgent yes
ForwardX11 yes
Forwardx11Trusted yes
LocalForward localhost:32400 192.168.1.136:32400
LocalForward localhost:32401 192.168.1.30:32401

Host cae
       HostName best-tux.cae.wisc.edu
       User shriwise
ForwardAgent yes
ForwardX11 yes
ForwardX11Trusted yes
LocalForward localhost:5053 144.92.12.206:5053

Host ec2
     HostName 52.7.194.101
     User ubuntu

Host ulam
     HostName ulam.cels.anl.gov
     ProxyJump login-gce
     User pshriwise
     LocalForward 4001 localhost:4001

Host gitlab.cels.anl.gov
     User shriwise
     ProxyJump mcs

Host mcs
     HostName login.mcs.anl.gov
     DynamicForward 32000

Host wiley
     HostName wiley.ne.anl.gov
     ProxyJump login-gce
     User pshriwise

Host ci1
     HostName ci1.ne.anl.gov
     ProxyJump wiley
     User pshriwise

Host gary
     HostName gary.ne.anl.gov
     ProxyJump wiley
     User pshriwise

Host arnold
     HostName arnold.ne.anl.gov
     ProxyJump wiley
     User pshriwise

Host vtr1
     HostName vtr1.ne.anl.gov
     ProxyJump wiley
     User pshriwise

Host vtr2
     HostName vtr2.ne.anl.gov
     ProxyJump wiley
     User pshriwise

Host vtr3
     HostName vtr3.ne.anl.gov
     ProxyJump wiley
     User pshriwise

Host vtr5
     HostName vtr5.ne.anl.gov
     ProxyJump wiley
     User pshriwise

Host kookie
     HostName kookie.ne.anl.gov
     ProxyJump wiley
     User pshriwise

Host jlse
     HostName login.jlse.anl.gov
     ProxyJump homes-gce
     User pshriwise

Host ec2p
     HostName 52.202.110.50
     User ubuntu

Host local
     HostName localhost
     User shriwise
     Port 2222
ForwardAgent yes
ForwardX11 yes
ForwardX11Trusted yes

Host local1
     HostName localhost
     User shriwise
     Port 2223
ForwardAgent yes
ForwardX11 yes
ForwardX11Trusted yes

Host ben-ubuntu
     HostName 47.41.164.49
     User pat
     Port 22
ForwardAgent yes
ForwardX11 yes
ForwardX11Trusted yes

Host serenity
       HostName 107.195.166.171
       User shriwise
ForwardAgent yes
ForwardX11 yes
ForwardX11Trusted yes

Host dawn
       HostName 107.195.166.171
       User pshriwise
       Port 5000
ForwardAgent yes
ForwardX11 yes
ForwardX11Trusted yes

Host aci-compile
     HostName aci-service-2.chtc.wisc.edu
     User shriwise
ForwardAgent yes

Host aci-submit
     HostName aci-service-1.chtc.wisc.edu
     User shriwise
ForwardAgent yes

Host tippytyper
     HostName 128.104.186.9
     User shriwise
ForwardAgent yes
ForwardX11 yes
ForwardX11Trusted yes

Host inl
     HostName hpclogin.inl.gov
     User shripatr
     DynamicForward 5555

Host sawtooth
     HostName sawtooth1.inl.gov
     User shripatr
     ProxyJump inl

Host bebop
     HostName bebop.lcrc.anl.gov
     User pshriwise
     ProxyJump login-gce

###################################################
ControlPath ~/.ssh/.control_channels/%h:%p:%r

Host login-gce
Hostname logins.cels.anl.gov
User pshriwise
IdentityFile ~/.ssh/gce
ControlMaster auto
ControlPersist yes
LogLevel FATAL


Host homes-gce
Hostname homes.cels.anl.gov
User pshriwise
IdentityFile ~/.ssh/gce
ProxyCommand ssh login-gce -q -W %h:%p
DynamicForward 32000
ForwardX11 yes
###################################################