Host home
	HostName 68.190.167.114
	User shriwise
ForwardAgent yes
ForwardX11 yes
Forwardx11Trusted yes
LocalForward localhost:32400 192.168.1.136:32400
LocalForward localhost:32401 192.168.1.30:32401

Host cae
       HostName best-tux.cae.wisc.edu
       User shriwise
ForwardAgent yes
ForwardX11 yes
ForwardX11Trusted yes
LocalForward localhost:2222 serenity.ep.wisc.edu:22
LocalForward localhost:2223 tux-c1.cae.wisc.edu:22
LocalForward localhost:8000 serenity.ep.wisc.edu:4001

Host ec2
     HostName 52.7.194.101
     User ubuntu

Host ec2p
     HostName 52.202.110.50
     User ubuntu
     
Host local
     HostName localhost
     User shriwise
     Port 2222
ForwardAgent yes
ForwardX11 yes
ForwardX11Trusted yes

Host local1
     HostName localhost
     User shriwise
     Port 2223
ForwardAgent yes
ForwardX11 yes
ForwardX11Trusted yes

Host serenity
       HostName serenity.ep.wisc.edu
       User shriwise
ForwardAgent yes
ForwardX11 yes
ForwardX11Trusted yes

Host aci-compile
     HostName aci-service-2.chtc.wisc.edu
     User shriwise
ForwardAgent yes

Host aci-submit
     HostName aci-service-1.chtc.wisc.edu
     User shriwise
ForwardAgent yes

Host tippytyper
     HostName 128.104.186.9
     User shriwise
ForwardAgent yes
ForwardX11 yes
ForwardX11Trusted yes